/*quiz.css*/
b{color:red;}
td, p, h2{
    text-align:center;
}
header{
    text-align:center;
    font-size:20px;
    font-weight:bold;
}
header, section, footer{
    width:500px;
    margin:2px auto;

}
