/* 초기화 */
*{
  margin:0;
  padding:0;
}
a{
    text-decoration:none;
    color:black;
    display:block;
}
li{
    list-style:none;
}
/* nav */
form{
    overflow:hidden;
    width:1000px;
    margin:0 auto;   
    border:2px solid black;
}
nav{
    overflow:hidden;
}
nav #nav_left, nav #nav_right{
    float:left;
}
nav #nav_left ul{
    overflow:hidden;
    width:699px;
}
nav #nav_right ul {
    overflow: hidden;
    width: 289px;
}
nav #nav_left ul li{
    float: left;
    padding: 5px 10px;
    margin: 5px 0 0 10px;
    font-size:1.2em;
}
nav #nav_left ul li:first-child {
    background-color: #ef9e74;
}
nav #nav_right ul li {
    float: left;
    margin: 10px;
    text-align:left;
    font-size:0.9em;
    padding:5px;
}
nav #nav_right ul li:last-child {
    padding: 5px 10px;
}
#title {
    border-bottom: 1px solid gray;
    overflow: hidden;
}
#title p {
    font-size: 1.3em;
    margin: 0 0 0 15px;
}
#lnb {
    width: 250px;
    float: left;
}
#lnb ul li{
    border:1px solid gray;
    width:130px;
    text-align:center;
    font-size:1.1em;
    margin: 0 0 0 20px;
}
#lnb ul li:nth-child(4){
    background-color: #ef9e74;
}
#my_content {
    width: 700px;
    float: left;
    margin: 0 auto;
}
#sub_title table {
    width: 700px;
    border: 1px solid gray;
    height: 250px;
    margin: 10px;
}
footer {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    height: 80px;
    line-height: 80px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color:#ef9e74;
}